@model TopLearn.Datalayar.Entities.User.User

<div style="direction: rtl; padding: 25px;">
    <h2>@Model.UserName عزیز</h2>
    <p>با تشکر از ثبت نام شمت جهت ادامه کار باید حساب خود فعال کنید</p>
    <a href="https://localhost:44338/account/activeaccount/@Model.Activeocde">فعالسازی حساب</a>
</div>
