@model TopLearn.core.DTOs.Course.ShowCourseListItemViewModel

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
    <article>
        <a href="/ShowCourse/@Model.CourseId" class="img-layer"><img src="/course/thumb/@Model.ImageName"></a>
        <h2><a href="/ShowCourse/@Model.CourseId"> @Model.CourseTitle </a></h2>
        <span> @((Model.Price==0)?"رایگان":Model.Price.ToString("#,0 تومان")) </span>
        <i>@Model.TotalTime</i>
    </article>
</div>