@model TopLearn.Datalayar.Entities.User.User

<div style="direction: rtl; padding: 25px;">
    <h2>@Model.UserName عزیز</h2>
    <p>برای بازیابی رمز عبور روی لینک زیر کلیک کنید</p>
    <a href="https://localhost:44338/account/ResetPassword/@Model.Activeocde">تغییر کلمه عبور</a>
</div>
